/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


html {
  background: white;
}

body {
  margin: 0;
  padding: 0 1em;
  font-family: Verdana, Arial, Helvetica;
}

#errorTitleTop{
  margin-top:60px;
}

h1 {
  
  border-bottom: 1px solid #c0c0c0;
  font-size: 160%;
}

h2 {
  font-size: 130%;
}

details{
margin-top:20px
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid #FFBD09; /* pale yellow extracted from yellow passport icon */
  border-radius: 10px;
  background:url(sslWarning.png) no-repeat 25px 25px;
}

#errorLongContent{
  padding: 50px;
}

.expander > button {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

